{% extends "base.html" %}

{% block content %}

{% if logged_in %}
  <div class="add-to-cart-button">
    <form action="/products">
      <button>Add to Cart</button>
    </form>
  </div>
{% endif %}
<br><br>

<h2>Cart Items:</h2>
<form action="/carte/">
  <button>Clear Cart</button>
</form>
<form method="POST" action="/cart/">
  <input type="submit">
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Seller ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item Price</th>
        <th scope="col">Remove From Cart</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(cart_len)%}
        <tr>
          <th scope="row">{{cart_items[i].pid}}</th>
          <td>{{cart_items[i].sid}}</td>
          <td>{{cart_items[i].quantity}}</td>
          <td>{{prices[i]}}</td>
          <th scope="col"><input type="checkbox" value={{cart_items[i].pid}} name="removefromcart"></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<br><br>


{% endblock %}