{% extends "base.html" %}

{% block content %}

<style>
  .add_coupon{
    position:absolute;
    right:10%;
    top:10%;
  }
</style>

<h2>Cart Items:</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<form action="/carte/">
  <button>Clear Cart</button>
</form>
{% if not check %}
<form action="/order/checkout">
  <button>Checkout All</button>
</form>
{% endif %}
<form class = "add_coupon" method="POST" action="/coupon_apply">
    <h5>Coupon Code:</h5>
    <input type="text" value= ""  style="width:200px;margin:10px;" name="coupon">
    <input type="submit" value="Update">
  </form>

<p>Total Price: ${{total_price}}</p>
<form method="POST" action="/order/">
  <input type="submit" value="Checkout Selected Items">
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Product ID</th>
        <th scope="col">Seller ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">Select From Cart</th>
      </tr>
    </thead>
  </form>
    <tbody>
      {% for i in range(cart_len)%}
        <tr>
          <td>
            <form method="POST" action="/cart/">
              <button value="{{cart_items[i].pid, cart_items[i].sid, cart_items[i].uid}}" name="trash">remove</button>
            </form>
          </td>
          <td>{{product_names[i]}}</td>
          <td>{{cart_items[i].sid}}</td>
          <td>{{cart_items[i].quantity}}</td>
          <td>{{unit_price[i]}}</td>
          <td>{{prices[i]}}</td>
          <td><input type="checkbox" value="{{cart_items[i].pid, cart_items[i].sid, cart_items[i].quantity, prices[i]}}" name="selectfromcart"></td>
        </tr>
      {% endfor %}
    </tbody>                                                                                         
  </table>

<br><br>


{% endblock %}