{% extends "base.html" %}

{% block content %}

{% if logged_in %}
  <div class="add-to-cart-button">
    <form action="/products">
      <button>Add to Cart</button>
    </form>
  </div>
{% endif %}
<br><br>

<h2>Cart Items:</h2>
<form method="POST" action="/cart/">
  <input type="submit">
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Seller ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Remove From Cart</th>
      </tr>
    </thead>
    <tbody>
      {% for cart in cart_items%}
        <tr>
          <th scope="row">{{cart.pid}}</th>
          <td>{{cart.sid}}</td>
          <td>{{cart.quantity}}</td>
          <th scope="col"><input type="checkbox" value={{cart.pid}} name="removefromcart"></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<br><br>


{% endblock %}