
{% extends "base.html" %}

{% block content %}


<style>
	.left-column {
  width: 65%;
  position: absolute;
  top: 170px;
  right: 400px; 
}

.left-column img{
	border:solid #000000;
}
.up_button{
  background:none;
}

.up_button:hover{
  background:#ADD8E6;
}

.down_button{
  background:none;
}

.down_button:hover{
  background:#ADD8E6;
}

.down_button {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
 
.right-column {
  width: 35%;
  position: absolute;
  right: 250px; 
  top:200px; 
  text-align: center;
  
}

.more-info{
	position: absolute; 
	top: 100px; 
	text-align: center;
}

/* Product Description */
.product-description {
  border-bottom: 3px solid #000000;
  text-align: center;
  position: absolute; 
  right:250px; 
  
}

 
.cart-btn {
  display: inline-block;
  position: absolute;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
  top: 520px;
  right: 200px;  
}
.cart-btn:hover {
  background-color: #64af3d;
}

.review-btn {
  display: inline-block;
  position: absolute;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
  top: 700px;
  right: 45px;  
}
.review-btn:hover {
  background-color: #64af3d;
}
.review-btn:disabled {
  background-color: #808080;
}

.price-rating{
	position: relative;
}

.wrap{
	position: relative; 
	top: 650px;
}

.wrap-table{
  position:absolute;
  margin:10px;
  top:80%;
  width:100%;
  
}

.check-out{
  position:relative;
  left:75%;
  top:20%;
}

.sidebar{
      position: absolute;
      width: 220px;
      height:60%;
      background: #000000;
      padding: 30px 0px; 
      text-align: center;
      float:left;
      color:rgb(255, 255, 255);
      top:100px;
    }

	.wrap_all{
		position: relative;
		bottom: 100px; 
		left: 80px; 
	}

  .check-out{
    right:10%;
    bottom:65px;
    height:200px;
  }

  .price-rating{
    position:relative;
    right: 60%; 
  }

  .cart_butt{
    position:relative;
    top:20%;
  }
</style>

<body>

	<div class = "sidebar">
        <h2><u>Sellers</u></h2>
        {% for seller in sellers %}
        <form method="POST" action="/ind_prod/{{prod_items.id}}/{{seller.sid}}">
        <div>
          {% if sid == seller.sid %}
          <input type="radio" {% if seller %} checked = "True" {% endif %} onClick = "this.form.submit()" id="{{seller.sid}}">  
          {% endif %}
          {% if sid != seller.sid %}
          <input type="radio" {% if seller %} {% endif %} onClick = "this.form.submit()" id="{{seller.sid}}">
          {% endif %}
          <label for="{{seller.sid}}">Seller: <a href="/seller_reviews/{{seller.sid}}">{{seller.sid}}</a></label>
          <p> <b> Quantity:</b> {{seller.quantity}} <br>
          <b> Rating:</b> {{seller.avg}}</p>
        </div>
      </form>
        {% endfor %}
        <form action="/index">
        <button input = "submit" style="height:30px;width:150px;" >Back Products</button>
      </form>
  </form>
  
    </div>

	<div class = "wrap_all">
 
	<!-- Left Column / Headphones Image -->
	<div class="left-column">
	  <img data-image="black" src={{prod_items.images}} onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg'" style='width: 500px; height:500px; object-fit: scale-down;'>
	</div>
   
   
	<!-- Right Column -->
	<div class="right-column">
   
	  <!-- Product Description -->
	  <div class="product-info">
		<h1><div style="height:150px;width:600px;overflow:auto;">{{prod_items.name}}</div></h1>
    <h5><div>Category: {{prod_items.category}}</div></h5>
		<p1><div style="height:300px;width:600px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">{{prod_items.description}}</div></p1>
	  </div>


	  <!-- Final Header -->
	<div class = "price-rating">
    {% if seller_info != "None" %}
	  <h1>Price: ${{seller_info.price}}</h1> 
    {% endif %}
		<h1>Rating: {{prod_items.rating}}/5</h1>
    {% if seller_info != "None" %}
    {% if seller_info.quantity == 0 %}
    <div class = "check-out">
      <form action="">
        <input type="submit" value="Out of Stock">
      </form>
    {% endif %}
    {% if seller_info.quantity != 0 %}
    <div class = "check-out">
    <form method="POST" action="/ind_prod/{{prod_items.id}}/{{seller_info.sid}}/add_to_cart">
      <input type="text" value=0 name="cart_quantity">
      <input type="submit" value="Add To Cart">
      {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <br> {{ message }} </br>
      {% endfor %}
  {% endif %}
{% endwith %}
    </form>
  </div>


    {% endif %}
      {% endif %}


	</div>
   
	  <!-- Product Pricing -->
	  </div>
	</div>
</div>

<form method="POST" action="/write_review/{{current_uid}}_{{prod_items.id}}">
  <input type="submit" class ="review-btn" {{review_button}} value="Review Item">
</form>

<div class = "wrap-table">
<table class='table table-hover table-bordered container'>
	<h1>Rating</h1>
  <p1>Number of Ratings: {{ratingsNumber}} </p1> <br>
  <p1>Sort By:    
    <select name="Home" onChange="window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
      {%if rating_sort == "time_reviewed"%}
      <option selected="selected" value="/change_rating_sort/time_reviewed/{{prod_items.id}}">Time Reviewed</option>
      <option value="/change_rating_sort/votes/{{prod_items.id}}">Upvotes/Downvotes</option>
      {% elif rating_sort == "votes"%}
      <option value="/change_rating_sort/time_reviewed/{{prod_items.id}}">Time Reviewed</option>
      <option selected="selected"value="/change_rating_sort/votes/{{prod_items.id}}">Upvotes/Downvotes</option>
      {%endif%}
    </select>
  </p1>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Seller</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Time Reviewed</th>
      <th scope="col">Upvote/Downvote</th>
    </tr>
  </thead>
  <tbody>
    {% for rating in ratings%}
      <tr>
        <td>
            <a href="/view_all_reviews/{{rating.uid}}">{{rating.uid}}</a>
        </td>
        <td>
          <a href="/seller_reviews/{{rating.sid}}">{{rating.sid}}</a>
        </td>
        <td>{{rating.rating}}</td>
        <td>{{rating.review}}</td>
        <td>{{rating.time_reviewed}}</td>
        <td>
          {%if current_uid!= -1%}
          <a href="/upvote_review/{{rating.uid}}_{{rating.pid}}_{{rating.sid}}"> <img class="up_button" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Eo_circle_grey_arrow-up.svg/2048px-Eo_circle_grey_arrow-up.svg.png" onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg'" style='width: 30px; height: 30px; object-fit: scale-down;'></a>
          <a href="/downvote_review/{{rating.uid}}_{{rating.pid}}_{{rating.sid}}"> <img class="down_button" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Eo_circle_grey_arrow-up.svg/2048px-Eo_circle_grey_arrow-up.svg.png" onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg'" style='width: 30px; height: 30px; object-fit: scale-down;'></a>
          {%endif%}
          <p1>{{rating.votes}}</p1>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</body>

  {% endblock %}