{% extends "base.html" %}


{% block content %}

<style>
    * { box-sizing: border-box; }

    .container { 
    display: flex; 
    flex-flow: row wrap;
 }

 .pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}

    .v_align{
        display:inline-block;
    }

    .card-wrap {
    flex: 0 0 33.333%;
    display: flex;
    padding: 10px; 
 }
    
    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 0 0 100%;
    left: 230px;
  }

  .card-text{
    text-align: center;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

    .price {
    font-size: 20px;
    text-align: center;
  }

  .Category{
    text-align: center; 
  }

  .card-title{
    text-align: center;
    font-size: 20px;
  }

  .rating{
    text-align: center;
  }

    .card-button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card-button:hover {
    opacity: 0.7;
  }

    .sidebar{
      position: absolute;
      width: 220px;
      height:100%;
      background: #000000;
      padding: 30px 0px; 
      text-align: center;
      float:left;
      color:rgb(255, 255, 255);
      top:100px;
    }

    .header{
        position: absolute;
        text-indent: 11.5%;
        text-align: left;
        top:88px;
        left:235px;
    }


    .sidebar:Rating{
      position: absolute;
      left:0;
    width:100%;
    }

    .pagination-page-info {
    position:relative;
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
  .pagination-page-info b {
    position:relative;
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
    margin: auto;
    width: 50%;
    padding: 10px;
}

</style>


<br><br>

<body>

  <form class = "search_existing" method="POST" action="/index"  style="text-align: center;">
    <input type="text" placeholder = "Search..." {% if search_term != None %} value = "{{search_term}}" {% endif %} name="sort_search_main" style="width:600px;margin:10px;">
   <input type="submit" value="Search">
</form>

    
    <div class = "header">
        <h1>Products</h1>
    </div>

    <div class = "sidebar">
        <h2><u>Sort</u></h2>
        &nbsp
        <form name="sort_rating:">
          <h5>Ratings</h5>
          <select name="Home" onChange="window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
              <option selected="selected"></option>
              <option value = "/index">No Sort</option>
              <option value="/sort_rate/{{'ASC'}}">Worst Rated Items</option>
              <option value="/sort_rate/{{'DESC'}}">Top Rated Items</option>
          </select>
      </form>

      &nbsp
      
      <form name="sort_price:">
        <h5>Price</h5>
        <select name="Home" onChange="window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
            <option selected="selected"></option>
            <option value="/index">No Sort</option>
            <option value="/sort_price/{{'ASC'}}">Least Expensive</option>
            <option value="/sort_price/{{'DESC'}}">Most Expensive</option>
        </select>
    </form>

    &nbsp
    <h2><u>Filter</u></h2>
    &nbsp
    <form name="Category:">
      <h5>Category</h5>
      <select name="Home" onChange="window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
          <option selected="selected"></option>
          <option value="/index">No Sort</option>
          <option value="/filter_category/Books">Books</option>
          <option value="/filter_category/Clothing">Clothing</option>
          <option value="/filter_category/Electronics">Electronics</option>
          <option value="/filter_category/Furniture">Furniture</option>
          <option value="/filter_category/Kitchenware">Kitchenware</option>
          <option value="/filter_category/Personal_Care">Personal Care</option>
          <option value="/filter_category/School">School</option>
          <option value="/filter_category/Sports">Sports</option>
          <option value="/filter_category/Toiletries">Toiletries</option>
          <option value="/filter_category/Travel">Travel</option>
      </select>
  </form>
  &nbsp
  <form name="filter_price:">
        <h5>Price</h5>
        <select name="Home" onChange="window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
            <option selected="selected"></option>
            <option selected="selected"></option>
            <option value="/index">No Sort</option>
            <option value="/filter_price/50"><$50</option>
            <option value="/filter_price/150"><$150</option>
            <option value="/filter_rate/250"><$250</option>
            <option value="/filter_rate/350"><$350</option>
        </select>
    </form>
    &nbsp
    <form name="filter_rating:">
        <h5>Rating</h5>
        <select name="Home" onChange="window.document.location.href=this.options[this.selectedIndex].value;" value="GO">
            <option selected="selected"></option>
            <option value="/index">No Sort</option>
            <option value="/filter_rate/0"><1</option>
            <option value="/filter_rate/1">1</option>
            <option value="/filter_rate/2">2</option>
            <option value="/filter_rate/3">3</option>
            <option value="/filter_rate/4">4</option>
            <option value="/filter_rate/5">5</option>
        </select>
    </form>
</div>
  </div>

  {% if check %}
  <h1 style="text-align: center;">No Results</h1>
  {% endif %}

  {% if not check %}
    {% for product in avail_products %}
    <div class = "v_align">
    <div class = "container">
    <div class = "card-wrap">
    <div class="card " style="width: 21rem;height: 33rem;">
        <img class="card-img-top" src={{product.images}} onerror="this.onerror=null; this.src='https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg'" style='width: 320px; height: 200px; object-fit: scale-down;'>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.descriptions}}</p>
          <p class = "price">Avg Price: ${{product.avg}}</p>
          <p class = "rating">Rating: {{product.rating}}/5</p>
          <p class = "Category">Category: {{product.category}}</p>
          <form action="/ind_prod/{{product.id}}/main" method = "POST" value = product name = "prod">
            <input type="submit" value = "See more"/>  
        </form>
        </div>
      </div>
    </div>
</div>
</div>
      {% endfor %}
      {{pagination.info}}
      {{pagination.links}}

{% endif %}

    </body>

<br><br>


{% endblock %}