{% extends "base.html" %}

{% block content %}
<br><br>

<h2>Detailed Order:</h2>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Product ID</th>
        <th scope="col">Seller ID</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price at Purchase</th>
        <th scope="col">Time Purchased</th>
        <th scope="col">Order Fulfilled</th>
      </tr>
    </thead>
    <tbody>
      {% for p in purchases%}
        <tr>
          <td>
            <form method="POST" action="/order/">
              <button value="{{p.pid, p.sid, p.time_purchased}}" name="trash">remove</button>
            </form>
          </td>
          <td>{{p.pid}}</td>
          <td>{{p.sid}}</td>
          <td>{{p.quantity}}</td>
          <td>${{p.price}}</td>
          <td>{{p.time_purchased}}</td>
          <td>{{p.order_status}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<br><br>


{% endblock %}