{% extends "base.html" %}

{% block content %}

<br><br>
<h2 class="title">Seller: <b>{{info.firstname}} {{info.lastname}}</b></h2>
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="tab-content profile-tab">
                        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User ID</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{info.id}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{info.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date Joined</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{info.date}}</p>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                  <label>Total Sales</label>
                              </div>
                              <div class="col-md-6">
                                  <p>{{counts[0][0]}}</p>
                              </div>
                          </div>



                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
<h2>Ratings Received</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Time Reviewed</th>
    </tr>
  </thead>
  <tbody>
    {% for ratingg in ratings%}
      <tr>
        <td><a href="/user_reviews/{{ratingg.uid}}">{{ratingg.uid}}</a></td>
        <td><a href="/ind_prod/{{ratingg.pid}}/main">{{ratingg.name}}</a></td>
        <td>{{ratingg.rating}}</td>
        <td>{{ratingg.review}}</td>
        <td>{{ratingg.time_reviewed}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>


{% endblock %}