{% extends "base.html" %}

{% block content %}

<br><br>

<style>
    .no_header_trans{
        text-align: center;
    }
</style>

<body>
    {% if empty %}
    <div class = "no_header_trans">
    <h1><b>No Existing Transactions</b></h1>
    </div>
    {% endif %}

    {% if not empty %}
    <h1> Personal Transactions: </h1>
      <table class='table table-hover table-bordered container'>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Buyer ID</th>
            <th scope="col">Buyer Address</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Time Purchased</th>
            <th scope="col">Order Status</th>
          </tr>
        </thead>
        <tbody>
          {% for p in prod%}
            <tr>
              <th scope="row">{{p.uid}}</th>
              <td>{{p.address}}</td>
              <td><a href="/ind_prod/{{p.pid}}/main">{{p.name}}</a></td>
              <td>{{p.quantity}}</td>
              <td>{{p.time_purchased}}</td>
              <TD class = "select", value = "{{p.order_status}}"> 
                <select name="trans" onChange="window.document.location.href=this.options[this.selectedIndex].value;" value="GO">  
                        <option value="{{p.order_status}}" selected disabled hidden>{{p.order_status}}</option>
                        <option value="change_status/Processing/{{p.uid}}/{{p.pid}}/{{p.time_purchased}}">Processing</option>
                        <option value="change_status/Shipped/{{p.uid}}/{{p.pid}}/{{p.time_purchased}}">Shipped</option>
                        <option value="change_status/Delivered/{{p.uid}}/{{p.pid}}/{{p.time_purchased}}">Delivered</option>
                        <option value="change_status/Received/{{p.uid}}/{{p.pid}}/{{p.time_purchased}}">Received</option>
                </select>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
      <form action="/seller_page">
        <button name = "B2" 
                type="submit" 
                class = "button"
                value = "back seller">Back</button>
        </form>
</body>

<br><br>


{% endblock %}